{% extends 'base.html.twig' %}

{% block title %}Sandrine Coupart - Recette{% endblock %}

{% block body %}
    <div class="container mt-5 mb-5">
        <div class="row">

            {% for recette in recette %}
                <div class="col-4 mb-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{{ asset('uploads/images/taco-gdb450d472_1920.png') }}" alt="Card image cap">
                        <div class="card-body">
                            {% if recette.estPrivee == 1 %}
                                <h1>Recette privée</h1>
                            {% else %}
                                <h5 class="card-title">{{ recette.titre }}</h5>
                                <p class="mt-2 card-text">{{ recette.description }}</p>
                                <h4 class="mt-4">Temps de préparation : </h4>
                                <p>{{ recette.tempsPreparation }} minutes</p>
                                <h4 class="mt-4">Temps de cuisson : </h4>
                                <p>{{ recette.tempsCuisson }} minutes</p>
                                <h4 class="mt-4">Temps de repos : </h4>
                                <p>{{ recette.tempsRepos }} minutes</p>
                            {% endif %}
                            <a href="#" class="mt-4 btn btn-primary">En savoir plus</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
