{% extends 'base.html.twig' %}

{% block title %}Sandrine Coupart - Recette{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                {% for recette in recette %}
                    {% if recette.estPrivee == 1 %}
                        <h1>Recette privée</h1>
                    {% else %}
                    <h1>{{ recette.titre }}</h1>
                    <h3>Description : </h3>
                    <p>{{ recette.description }}</p>
                    <h4>Temps de préparation : </h4>
                    <p>{{ recette.tempsPreparation }} minutes</p>
                    <h4>Temps de cuisson : </h4>
                    <p>{{ recette.tempsCuisson }} minutes</p>
                    <h4>Temps de repos : </h4>
                    <p>{{ recette.tempsRepos }} minutes</p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}
